{% extends "layout.html" %}
{% block head %}
<style>
    .equipment {
        position: relative;
        width:178px;
        height:139px;
        background-image:url(/static/images/equipment.png);
        
    }
    .guild_equipment {
        position: relative;
        width:129px;
        height:123px;
        background-image:url(/static/images/guild_equipment.png);
    }
    
    .itemslot {
        position:absolute;
        width:28px; height:28px;
        background-image:url()
    }
    
    
</style>
{% endblock %}

{% block body %}
<div class="ui container">
    <br><hr>
    <span>계산기</span>
    <div class="ui divider"></div>
    
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div class="ui top attached tabular menu">
                <div class="active item">설정</div>
            </div>
            <div class="ui bottom attached active tab segment">
                <form class="ui form">
                    <button class="fluid ui positive button" type="button">자동 계산 도우미</button>
                    <br>
                    <button class="ui primary button" type="button">변경 적용</button>
                    <button class="ui negative button" type="button">초기화</button>
                        
                    <h4 class="ui horizontal divider header">
                        상세 내용
                    </h4>
    
                    <div class="ui grid">
                        <div class="eight wide column">
                            <h5 class="ui dividing header">스트라이킹</h5>
                            <div class="field">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>레벨</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 체력</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 정신력</label>
                                        <input type="number">
                                    </div>
                                </div>
                            </div>
                            
                            <h5 class="ui dividing header">지혜의 축복</h5>
                            <div class="field">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>레벨</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 체력</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 정신력</label>
                                        <input type="number">
                                    </div>
                                </div>
                            </div>
                            
                            <h5 class="ui dividing header">여명의 축복</h5>
                            <div class="field">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>레벨</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 체력</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 정신력</label>
                                        <input type="number">
                                    </div>
                                </div>
                            </div>
                            
                            <h5 class="ui dividing header">영광의 축복</h5>
                            <div class="field">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>레벨</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 체력</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 정신력</label>
                                        <input type="number">
                                    </div>
                                </div>
                            </div>
                            
                            <h5 class="ui dividing header">아포칼립스</h5>
                            <div class="field">
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>레벨</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 체력</label>
                                        <input type="number">
                                    </div>
                                    <div class="six wide field">
                                        <label>던전 정신력</label>
                                        <input type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <h5 class="ui dividing header">부가 옵션</h5>
                            <div class="grouped fields">
                                <label for="option_stint_cross">스트라이킹 / 지혜의 축복 시전시 특수 십자가</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="option_stint_cross" tabindex="0" class="hidden">
                                        <label>없음</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="option_stint_cross"  tabindex="0" class="hidden">
                                        <label>진 : 끓어오르는 피의 십자가</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="option_stint_cross"  tabindex="0" class="hidden">
                                        <label>구원의 이기 : 십자가</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="option_stint_cross"  tabindex="0" class="hidden">
                                        <label>구원의 이기 : 십자가 (해방)</label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="ui divider"></div>
                            
                        </div>
                        
                    </div>
                
                </form>
                
                
                
                <div class="ui divider"></div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui card">
                <div class="content">
                    <div class="header">계산 결과</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">스트라이킹</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <thead>
                                <th class="ten wide">스킬 레벨</th>
                                <th class="six wide"><span id="result_striking_lv"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>힘 증가량</td>
                                    <td><span id="result_striking_force">500</span></td>
                                </tr>
                                <tr>
                                    <td>물리 공격력 증가량</td>
                                    <td><span id="result_striking_atk">200</span></td>
                                </tr>
                                <tr>
                                    <td>적중률 증가량</td>
                                    <td><span id="result_striking_accuracy">10</span>%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">지혜의 축복</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <thead>
                                <th class="ten wide">스킬 레벨</th>
                                <th class="six wide"><span id="result_inteligent_lv"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>지능 증가량</td>
                                    <td><span id="result_inteligent_int">800</span></td>
                                </tr>
                                <tr>
                                    <td>마법 공격력 증가량</td>
                                    <td><span id="result_inteligent_atk">500</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">여명의 축복</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <thead>
                                <th class="ten wide">스킬 레벨</th>
                                <th class="six wide"><span id="result_dawn_lv"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>독립 공격력 증가량</td>
                                    <td><span id="result_dawn_atk">600</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">영광의 축복</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <thead>
                                <th class="ten wide">스킬 레벨</th>
                                <th class="six wide"><span id="result_glory_lv"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>힘 증가량</td>
                                    <td><span id="result_glory_force">1400</span></td>
                                </tr>
                                <tr>
                                    <td>지능 증가량</td>
                                    <td><span id="result_glory_int">2200</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">아포칼립스</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <thead>
                                <th class="ten wide">스킬 레벨</th>
                                <th class="six wide"><span id="result_apo"></span></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>힘 증가량</td>
                                    <td><span id="result_apo_force">3000</span></td>
                                </tr>
                                <tr>
                                    <td>지능 증가량</td>
                                    <td><span id="result_apo_int">3500</span></td>
                                </tr>
                                <tr>
                                    <td>공속/이속 증가량</td>
                                    <td><span id="result_apo_atkmovespd">27</span>%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">e.t.c</h4>
                    <div class="ui small feed">
                        <table class="ui structured celled small compact table">
                            <tbody>
                                <tr>
                                    <td rowspan="2" class="active">보호의 징표</td>
                                    <td>체력 증가량</td>
                                    <td><span id="result_stat_protect_stamina">50</span></td>
                                </tr>
                                <tr>
                                    <td>정신력 증가량</td>
                                    <td><span id="result_stat_protect_mental">50</span></td>
                                </tr>
                                
                                <tr>
                                    <td rowspan="4" class="active">신념의 오라</td>
                                    <td>체정 최소 증가량</td>
                                    <td><span id="result_stat_protect_stamina">50</span></td>
                                </tr>
                                <tr>
                                    <td>힘지 최소 증가량</td>
                                    <td><span id="result_stat_protect_mental">50</span></td>
                                </tr>
                                <tr>
                                    <td>체정 최대 증가량</td>
                                    <td><span id="result_stat_protect_mental">50</span></td>
                                </tr>
                                <tr>
                                    <td>힘지 최대 증가량</td>
                                    <td><span id="result_stat_protect_mental">50</span></td>
                                </tr>
                                
                                <tr>
                                    <td rowspan="1" class="active">디바인<br>퍼니쉬먼트</td>
                                    <td>최대 능력치 증가량</td>
                                    <td><span id="result_stat_protect_stamina">50</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<script type="text/javascript">
</script>
{% endblock %}